* {
    margin: 0;
}

p {
    font-family: 'Panton', sans-serif;
}

.header {
    width: 100%;
    min-width: 1235px;
    height: 10vh;
    text-align: end;

    /* background-color: #AE6EC2; */
    background-color: white;

    text-transform: uppercase;
    font-weight: 600;
    font-size: 2vw;
}

.header_text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 30px;
    font-weight: 400;

    /* color: white; */
    color: #904fa3;

    display: inline-block;

    text-shadow: 0 0 0 #EDB5FF;
    transition: 0.2s ease-out;

    /* запрет на выделение текста */
    /**
    Для эксплорера
    */
    -ms-user-select: none;

    /**
    Для мозилы
    */
    -moz-user-select: none;

    /**
    Для конкверора
    */
    -khtml-user-select: none;

    /**
    Для Сафари и Хрома
    */
    -webkit-user-select: none;
}

.header_text:hover {
    text-shadow: 0 0 3px #7c3c8f;
    color: #7c3c8f;
    cursor: pointer;
    transform: translateY(-60%);
    transition: 0.2s ease-out;
}

.colBlock {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-width: 1235px;

    background-color: #EDB5FF;
}

.block_text {
    position: relative;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 50pt;
    text-align: center;
}

.WiteBlock {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    min-width: 1235px;

    text-align: center;
}

.WiteBlock_text {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

#butEmail:hover {
    box-shadow: 5px 5px 6px #5C306A;
    color: #EDB5FF;
    background: #EDB5FF;
    transition: .2s ease-out;
}